block content
	section.about-us
		.container
				.row
					button.btn-down
					.about-us__info.col-md-6.col-sm-6.col-xs-12
						.about-us__info-wrap
							.about-us__title Мы специализируемся на создании и поддержке проектов для digital - студий и агенств. 
							.about-us__slogan Наш главный принцип: проект в срок
							.about-us__text.
								Обладаем опытом проектирования и разработки сложных и высоконагруженных систем, личных кабинетов, интернет-магазинов, интеграция с банковскими системами, процессинговыми центрами, смс и почтовыми сервисами, службами доставки, CRM, социальными сетями и тд., разработки SPA приложений, а так же производстве web-анимации.
					.about-us__design.col-md-6.col-sm-6.col-xs-12
						.stats__wrapper
							.about-carousel
								.stats__box
									.stats__item
										.number-two
											img(src="assets/img/2.svg", alt="")
										.number-six
											img(src="assets/img/6.svg", alt="")
									.stats__text
										p
											strong В 2016 году 
											| мы впервые вошли в рейтинг 
											strong Тэглайн, 
											| оказавшись сразу на 
											strong 26-м месте
								.stats__box
									.stats__item
										.number-two
											img(src="assets/img/2.svg", alt="")
										.number-six
											img(src="assets/img/6.svg", alt="")
									.stats__text
										p
											strong В 2016 году 
											| мы впервые вошли в рейтинг 
											strong Тэглайн, 
											| оказавшись сразу на 
											strong 26-м месте
								.stats__box
									.stats__item
										.number-two
											img(src="assets/img/2.svg", alt="")
										.number-six
											img(src="assets/img/6.svg", alt="")
									.stats__text
										p
											strong В 2016 году 
											| мы впервые вошли в рейтинг 
											strong Тэглайн, 
											| оказавшись сразу на 
											strong 26-м месте
							.stats__nav
								button.arrow.stats__nav-left
								span.stats__nav-count.pagingInfo
								button.arrow.stats__nav-right
