block content
	section.deluxe
		.container
			.row
				.deluxe__info.col-md-6.col-sm-6.col-xs-12
					.deluxe__info-wrap
						h2.deluxe__title Нас выбрали
						ul.deluxe__lists
							li.choise__list
								a(href="#").deluxe__link
									| Tacc
							li.choise__list
								a(href="#").deluxe__link
									| Bonus-Advisor
							li.choise__list
								a(href="#").deluxe__link
									| Икра
							li.choise__list
								a(href="#").deluxe__link
									| Grape
							li.choise__list
								a(href="#").deluxe__link
									| Hungry Boys
							li.choise__list
								a(href="#").deluxe__link
									| RTA
							li.choise__list
								a(href="#").deluxe__link
									| Deluxe Interactive
							li.choise__list
								a(href="#").deluxe__link
									| DDVB
							li.choise__list
								a(href="#").deluxe__link
									| Movie
							li.choise__list
								a(href="#").deluxe__link
									| Ailove
							li.choise__list
								a(href="#").deluxe__link
									| Arkconnect
							li.choise__list
								a(href="#").deluxe__link
									| Sapient Nitro
							li.choise__list
								a(href="#").deluxe__link
									| Boson.Group
							li.choise__list
								a(href="#").deluxe__link
									| Citymetria
							li.choise__list
								a(href="#").deluxe__link
									| Национальное бюро
							li.choise__list
								a(href="#").deluxe__link
									| di-house
				.deluxe__design.col-md-6.col-sm-6.col-xs-12
					.comment__wrapper
						.deluxe-carousel
							.comment__box
								.comment__item
									.logo-dx
										img(src="/assets/img/logo-dx.svg", alt="Логотип Deluse Interactive")
									h3.comment__title Deluxe Interactive
								.comment__text
									p.comment__text-descr.
										«Хочу поблагодарить компанию «HiSmith» за интересную и плодотворную работу над нашим сайтом. Готов порекомендовать «HiSmith» всем,
										кому нужен красивый, современный, нацеленный
										на продажи сайт, с удовольствием продолжу сотрудничество с ними в будущих проектах.»
									p.comment__text-name.
										– Генадий Сергеевич
							.comment__box
								.comment__item
									.logo-dx
										img(src="/assets/img/logo-dx.svg", alt="Логотип Deluse Interactive")
								.comment__text
									h3.comment__title Deluxe Interactive
									p.comment__text-descr.
										«Хочу поблагодарить компанию «HiSmith» за интересную и плодотворную работу над нашим сайтом. Готов порекомендовать «HiSmith» всем,
										кому нужен красивый, современный, нацеленный
										на продажи сайт, с удовольствием продолжу сотрудничество с ними в будущих проектах.»
									p.comment__text-name.
										– Генадий Сергеевич
						.comment__nav
							button.arrow.comment__nav-left
							span.comment__nav-count.pagingInfo 7 / 16
							button.arrow.comment__nav-right
				button.btn-down
