block content
	section.exc-design
		.container
			.row
				button.btn-down
				.exc-design__bg.col-md-6.col-sm-6.col-xs-12
					.exc-design__bg-wrap
						ul.exc-design__lists
							h3 Что мы делаем
							li.exc-design__list
								a(href="").exc-design__link
									span.exc-design__count 2 / 
									| Проектируем
							li.exc-design__list
								a(href="").exc-design__link
									span.exc-design__count 2 / 
									| Дизайн
							li.exc-design__list
								a(href="").exc-design__link
									span.exc-design__count 2 / 
									| Документируем
							li.exc-design__list
								a(href="").exc-design__link
									span.exc-design__count 2 / 
									| Frontend
							li.exc-design__list
								a(href="").exc-design__link
									span.exc-design__count 2 / 
									| Backend
							li.exc-design__list
								a(href="").exc-design__link
									span.exc-design__count 2 / 
									| Тестируем
							li.exc-design__list
								a(href="").exc-design__link
									span.exc-design__count 2 / 
									| Менеджмент проектов
				.exc-design__slide.col-md-6.col-sm-6.col-xs-12
					.exc-design__slide-wrap
						.exc-design__item.design-carousel
							.exc-design__box
								.exc-design__button Дизайн
								.exc-design__title Эксклюзивный дизайн
								.exc-design__text.
										Важно! В студии «HiSmith» нарисуют не просто красивую картинку, а сайт, который будет зарабатывать и привлекать новых «правильных» посетителей. Для того, чтобы создать сайт с учетом специфики заказчика и в тренде современного сайтостроения, проводится огромная работа.
							.exc-design__box
								.exc-design__button Дизайн
								.exc-design__title Эксклюзивный дизайн
								.exc-design__text.
										Важно! В студии «HiSmith» нарисуют не просто красивую картинку, а сайт, который будет зарабатывать и привлекать новых «правильных» посетителей. Для того, чтобы создать сайт с учетом специфики заказчика и в тренде современного сайтостроения, проводится огромная работа.
							.exc-design__box
								.exc-design__button Дизайн
								.exc-design__title Эксклюзивный дизайн
								.exc-design__text.
										Важно! В студии «HiSmith» нарисуют не просто красивую картинку, а сайт, который будет зарабатывать и привлекать новых «правильных» посетителей. Для того, чтобы создать сайт с учетом специфики заказчика и в тренде современного сайтостроения, проводится огромная работа.
							.exc-design__box
								.exc-design__button Дизайн
								.exc-design__title Эксклюзивный дизайн
								.exc-design__text.
										Важно! В студии «HiSmith» нарисуют не просто красивую картинку, а сайт, который будет зарабатывать и привлекать новых «правильных» посетителей. Для того, чтобы создать сайт с учетом специфики заказчика и в тренде современного сайтостроения, проводится огромная работа.
							.exc-design__box
								.exc-design__button Дизайн
								.exc-design__title Эксклюзивный дизайн
								.exc-design__text.
										Важно! В студии «HiSmith» нарисуют не просто красивую картинку, а сайт, который будет зарабатывать и привлекать новых «правильных» посетителей. Для того, чтобы создать сайт с учетом специфики заказчика и в тренде современного сайтостроения, проводится огромная работа.
							.exc-design__box
								.exc-design__button Дизайн
								.exc-design__title Эксклюзивный дизайн
								.exc-design__text.
										Важно! В студии «HiSmith» нарисуют не просто красивую картинку, а сайт, который будет зарабатывать и привлекать новых «правильных» посетителей. Для того, чтобы создать сайт с учетом специфики заказчика и в тренде современного сайтостроения, проводится огромная работа.
							.exc-design__box
								.exc-design__button Дизайн
								.exc-design__title Эксклюзивный дизайн
								.exc-design__text.
										Важно! В студии «HiSmith» нарисуют не просто красивую картинку, а сайт, который будет зарабатывать и привлекать новых «правильных» посетителей. Для того, чтобы создать сайт с учетом специфики заказчика и в тренде современного сайтостроения, проводится огромная работа.
						.design__nav
							button.arrow.design__nav-left
							span.design__nav-count.pagingInfo
							button.arrow.design__nav-right
			

