//-~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~
section.footer
	.container-fluid
		.footer-item.col-md-6.col-sm-6
			.footer-item__wrap
				.footer-item__box
					p Для новых
					p коммерческих
					p запросов
		.footer-item.col-md-6.col-sm-6
			.contacts
				h2.contacts__title Контакты
				.contacts-wrap
					p Позвоните нам 
						a(href="tel:+7 495 775 55 75") +7 495 775 55 75
					p Напишите нам
						a(href="mailto:hello@hismith.ru") hello@hismith.ru
					p Приезжайте к нам 
						span в Москву
			.hidden-title
				p Для новых
				p коммерческих
				p запросов
			form(action="").content
				span.input.input--hoshi
					input#input-4.input__field.input__field--hoshi(type='text')
					label.input__label.input__label--hoshi.input__label--hoshi-color(for='input-4')
						span.input__label-content.input__label-content--hoshi Как к Вам обращаться?
				span.input.input--hoshi
					input#input-4.input__field.input__field--hoshi(type='text')
					label.input__label.input__label--hoshi.input__label--hoshi-color(for='input-4')
						span.input__label-content.input__label-content--hoshi Как с Вами связаться?
				span.input.input--hoshi
					input#input-4.input__field.input__field--hoshi(type='text')
					label.input__label.input__label--hoshi.input__label--hoshi-color(for='input-4')
						span.input__label-content.input__label-content--hoshi Чем мы можем Вам помочь?

				button(type="submit").form-button.gl-btn Отправить
	.footer-copyright
		.footer-copyright__wrap
			.copyright.
				HiSmith LLC © 2014-2017
			.to-top
				| В начало
				button(onclick="location.href='#header'").footer-up
					img(src="/assets/img/btn-up-normal.svg", alt="")
//-~~~~~~~~~~~~~~~ END FOOTER ~~~~~~~~~~~~~~~