//-~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~

section.header#header
	.wrap
		nav.main-nav
			ul.main-nav__lists
				li.main-nav__list 
					a(href="#").main-nav__link Главная
				li.main-nav__list 
					a(href="#").main-nav__link О нас
				li.main-nav__list 
					a(href="#").main-nav__link Что мы умеем
				li.main-nav__list 
					a(href="#").main-nav__link Нас выбрали
				li.main-nav__list 
					a(href="#").main-nav__link Контакты
			.main-nav__footer
				.call Позвоните нам 
					span.span--red
						a(href="tel: +74957755575") +7 495 775 55 75
				.write Напишите нам 
					span.span--red
						a(href="mailto:hello@hismith.ru") hello@hismith.ru
				.come Приезжайте к нам 
					span.span--red.
						в Москву
		.logo
		button.toggle-mnu
			span

	.col-lg-6
	.header__wrap.col-lg-6
		.header__inner
			p.header__text.
				Масштабируемая разработка для digital-студий и агенств
			button.gl-btn Что мы умеем
	button.btn-down
		
//-~~~~~~~~~~~~~~~ END HEADER ~~~~~~~~~~~~~~~