block variables
doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(charset="utf-8")
    title #{title}
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")

    //- favicon block start
    link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
    //- favicon block end

    link(rel="stylesheet", href="/assets/css/style.css")
    link(rel='stylesheet' href='/assets/css/foundation.css')
    script(src='/assets/js/foundation.js' defer)
    script(src='/assets/js/app.js' defer)

    <!--[if lt IE 10]>
    link(rel="stylesheet" href="assets/css/ie.css")
    <![endif]-->

    <!--[if lt IE 9]>
    script(src='js/ie.js')
    <![endif]-->

  body

    block content